*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
header{
    background-color: black;
    color: white;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header h1{
    font-size: 50pt;
}
header a{
    text-decoration: none;
    color: white;

}
header p{
    font-size:15pt;
}
section p{
    font-size: 40pt;
    width: 500px;
    margin: 40px;
}
section{
    padding: 20px;
}
.main{
    background-color: rgb(230, 230, 230);
}
#joaninha{
    background: cornflowerblue url('../imagens/background001.jpg') center center no-repeat fixed;
}
#folhas{
    background: cornflowerblue url('../imagens/background002.jpg') center center no-repeat fixed;
}
.bgi{
    box-shadow:  10px black;
}
.bgi p{
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
    padding: 10px;
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15pt;
    padding: 10px;
}