body{
    background-color: pink;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.center{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 0 20px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
}

.img{
    display: block;
    background-image: url(pedido-de-namoro_front.png);
    background-size: cover;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 50%;
}